* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
}

a {
    color: green;
    font-family: "Fraunces";
}

.nav {
    display: flex;
    gap: 8rem;
    justify-content: space-around;
    width:100%;
    /* align-self: flex-end; */

    padding-top: 30px;
    /* padding-bottom: 2px; */
    margin-bottom: 10px;
    /* margin-top: 10px; */
    background-color: white;
    /* margin-right: 40px; */
    /* width:1000px; */
    overflow: hidden;
    top: 0;
    position: fixed;
    /* align-items: flex-end; */
    /* flex-direction: row; */

    /* float: left; */
    color: white;
    text-align: center;
    /* padding-bottom:20px; */
    text-decoration: none;
    transition: border-bottom 0.3s ease;
}

nav a:hover {
    border-bottom: 1px solid yellow;
}

.image {
    border-radius: 10px;
    margin-left: 2px;
    padding-bottom: 10px;
    
}

.list {
    display: flex;
}

.container {
    max-width: 90%;
    word-spacing: 0.4em;
    margin-left: 50px;
    /* text-indent: 2em; */
    line-height: 1.5em;
    font-size: 20px;
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    padding-top: 200px;
}

span {
    color: blueviolet;
    font-weight: bold;
    font-size: 32px;
}

#project {
    color: purple;
    text-align: center;
    padding-bottom: 20px;
}

.projects {
    display: flex;
    gap: em;
    justify-content: space-evenly;
}

.image1 {
    border: 3px solid purple;

    overflow: hidden;

    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    padding: 20px;
    border-radius: 3%;
}

.image1:hover {
    transform: scale(1.1);
    border-color: solid #4caf50;
}

.image2 {
    border: 3px solid purple;
    overflow: hidden;

    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    padding: 20px;
    border-radius: 3%;
}

.image2:hover {
    transform: scale(1.1);
    border-color: #4caf50;
}

.image3 {
    border: 3px solid purple;
    overflow: hidden;

    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    /* outline-offset: 0.25rem; */
    border-radius: 3%;
    padding: 20px;
}

.image3:hover {
    transform: scale(1.1);
    border-color: #4caf50;
}
.contacts{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap:2rem;

}
.content{
    text-align: center;
    max-width: 400px;
    margin-left: 450px;
    margin-top: 30px;
}
.blog{
    display: flex;
    gap:2rem;
    justify-content: space-evenly;

}
a{
    text-decoration: none;
}
.blog-1{
    border: 3px solid purple;
    
        overflow: hidden;
    
        transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
        padding: 20px;
        border-radius: 3%;

}
.blog-1:hover{
    transform: scale(1.1);
        border-color: #4caf50;

}
.blog-2{
    border: 3px solid purple;
    
        overflow: hidden;
    
        transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
        padding: 20px;
        border-radius: 3%;

}
.blog-2:hover{
    transform: scale(1.1);
        border-color: #4caf50;

}
.blog-3{
    border: 3px solid purple;
    
        overflow: hidden;
    
        transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
        padding: 20px;
        border-radius: 3%;

}
.blog-3:hover{
    transform: scale(1.1);
        border-color: #4caf50;

}
.button{
    border-radius: 5%;
    display:flex;
    justify-content: center;
    padding-top: 30px;
    
    
}
.button:hover{
    
}
nav a:hover{
    color:red;
}
.open{
    display: flex;
    justify-content: space-evenly;
}